.App {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 18px;
}

.leftPanel {
  height: 100%;
  width: 628px;
  padding: 30px 70px 0 70px;
}

.tasks {
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
}
.tasks .scheduleHour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.tasks .scheduleHour p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #A4B0C3;
}
.tasks .scheduleHour .simpleLine {
  width: 100%;
  height: 2px;
  background-color: rgb(243, 243, 243);
}

.rightPanel {
  width: 400px;
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(42, 46, 65, 0.6980392157);
}
.rightPanel .calendarMonth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;
  color: white;
}
.rightPanel .calendarMonth img {
  height: 18px;
}
.rightPanel .calendarMonth img:hover {
  cursor: pointer;
}
.rightPanel .calendarMonth .invertArrow {
  rotate: 180deg;
}
.rightPanel .lineSeparator {
  width: 100%;
  border-top: rgba(0, 0, 0, 0.17) solid 1px;
  border-bottom: rgba(255, 255, 255, 0.13) solid 1px;
}

@media screen and (max-width: 900px) {
  .rightPanel {
    display: none;
  }
  .leftPanel {
    height: 100%;
    width: 628px;
    padding: 30px 20px 20px 20px;
  }
  .burgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 0;
    width: 40px;
    height: 40px;
    background-color: #3C82F9;
    border-radius: 50%;
  }
  .burgerMenu > div:nth-child(n) {
    background-color: white;
    width: 20px;
    height: 3px;
    border-radius: 2px;
  }
  .displayRightPanel.App {
    height: 100vh;
  }
  .displayRightPanel .leftPanel {
    display: none;
  }
  .displayRightPanel .rightPanel {
    width: 100%;
    display: initial;
  }
  .displayRightPanel .burgerMenu {
    display: initial;
  }
  .displayRightPanel .burgerMenu > div:nth-child(1) {
    position: absolute;
    top: 19px;
    left: 10px;
    height: 4px;
    rotate: 45deg;
  }
  .displayRightPanel .burgerMenu > div:nth-child(2) {
    display: none;
  }
  .displayRightPanel .burgerMenu > div:nth-child(3) {
    position: absolute;
    top: 19px;
    left: 10px;
    height: 4px;
    rotate: -45deg;
  }
}
